<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jrteamtech.clonebla">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity" android:theme="@style/FullScreenStyle"  android:screenOrientation="portrait"/>
        <activity android:name=".SignUpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NoRideFindActivity" android:screenOrientation="portrait"/>
        <activity android:name=".StopoversActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PicUpTimePassengersActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PickUpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DropoffActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ChooseDateActivity" android:screenOrientation="portrait"/>
        <activity android:name=".EditProfileActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AddCarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".HomeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SeleteTimeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".EmailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Chooseprofilephoto" android:screenOrientation="portrait"/>
        <activity android:name=".AddpeferenceActivity" android:screenOrientation="portrait"/>

        <activity android:name=".SearchFragment" android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>